header {
  padding: 2rem;
}

.search {
  margin-bottom: 1.5rem;

  label {
    margin-bottom: 0.3rem;
  }

  input{
    display: block;
    width: 12rem;
    height: 1.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  button {
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    height: 1.89rem;
    min-width: 8rem;
  }

  .form-fields {
    display: flex;
  }
}

.weather {
  position: relative;
  display: flex;
  max-height: 10rem;

  h1 {
    margin-top: 0.2rem;
  }

  img {
    width: auto;
    height: 6rem;
  }

  .infos,
  .temperature,
  .region {
    padding: 1.6rem;
    margin-right: 2rem;
  }
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid black; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
