<header>
  <div class="search">
    <form #form="ngForm" (ngSubmit)="search()">
      <label for="city">Search for a city, region or country code</label>
      <div class="form-fields">
        <input name="city" class="form-control" required [(ngModel)]="cityModel">
        <button type="submit" [disabled]="loading">Search</button>
        <button type="button" [disabled]="loading" (click)="getLocalWeather()">My Weather</button>
      </div>
    </form>
  </div>
  <div class="weather" *ngIf="!loading && !error">
    <img *ngIf="imgUrl" src="{{imgUrl}}" />
    <div *ngIf="header && description" class="infos">
      <h3>{{header}}</h3>
      <p>{{description}}</p>
    </div>
    <div *ngIf="temperature"  class="temperature">
      <h1>{{temperature}}°C</h1>
    </div>
    <div *ngIf="city" class="region">
      <h1>{{city}}</h1>
    </div>
  </div>
  <div class="loader" *ngIf="loading"></div>
  <div class="error-display" *ngIf="error">
    <h3>{{error}}</h3>
  </div>
</header>
