/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100%;
  margin: 0;

  &.dark-mode {
    background-color: black;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    label {
      color: white;
    }

    image {
      filter: invert(1);
    }
  }
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0;
}
